@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("MontserratSemiBold"),
    url("../fonts/MontserratSemiBold.woff") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --blue: #000;
  --yellow: #fffb76;
  --white: #fff;
  --blue: #06014e;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* ============= HEADER ============== */
.header {
  min-height: 80px;
  padding: 40px 0;
  background: var(--blue);
}

.nav {
  width: 85%;
}

.nav-list {
  display: flex;
  justify-content: end;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.nav__item {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
  transition: opacity 0.2s ease-in-out;
}

.nav__item:not(:last-child) {
  margin-right: 5%;
}

.nav__item::after {
  content: "";
  position: absolute;
  top: 40px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  background: rgba(254, 254, 254, 0.7);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav__item:hover {
  opacity: 0.7;
}

.nav__item:hover::after {
  opacity: 1;
}

/*============= Hero ==============*/

.hero-container {
  min-height: 600px;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 60px;
}

.hero-img {
  margin-right: 20px;
  display: inline-block;
  width: 500px;
  height: 560px;
  border: 1px solid var(--blue);
}

.hero-content {
  width: 50%;
  color: var(--blue);
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
}

.hero__text {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.contactme {
  margin: 0;
  margin-bottom: 150px;
  padding: 20px 0;
  list-style: none;
}

.contactme__link {
  font-size: 24px;
  color: var(--blue);
}

.contactme__link:not(:last-child) {
  margin-bottom: 20px;
}

.social__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.social-list {
  display: flex;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.social-item:not(:last-child) {
  margin-right: 4%;
}

.social-item {
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 32px;
  color: var(--blue);
}

.social-item:hover {
  opacity: 0.7;
  border: 1px solid rgb(0 15 94 / 52%);
}

/*============= About ==============*/

.about {
  color: var(--white);
}

.about-container {
  min-height: 600px;
  padding: 80px 20px;
}

.about__title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 36px;
}

/* .about__title::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: -5px;
  background: var(--white);
} */

.about-content {
  display: flex;
  justify-content: space-between;
}

.about__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
}

.education,
.experience {
  padding: 40px;
  border-radius: 40px;
  background: var(--blue);
  width: 49%;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.education {
  margin-bottom: 30px;
}

.education-block {
  margin-bottom: 20px;
}

.experience-block {
  margin-bottom: 30px;
}

.hobby__subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
}

.skills__text,
.education__text,
.experience__text,
.hobby__text {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.education__text:not(:last-child),
.experience__text:not(:last-child) {
  margin-bottom: 20px;
}

.experience__text {
  list-style: none;
  padding: 0;
}

.experiens-item:not(:last-child) {
  margin-bottom: 10px;
}

.skills__text {
  font-size: 28px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.7);
}

.edu__link {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.date {
  margin-right: 20px;
  padding-bottom: 5px;
}

.date:not(:last-child) {
  margin-bottom: 20px;
}
/*============= Works ==============*/
.works-container {
  min-height: 800px;
  padding: 20px;
  padding-top: 100px;
}

.works__title {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 800;
  font-size: 60px;
  color: var(--blue);
}

.works-inner {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.work {
  position: relative;
  width: 30%;
  min-height: 270px;
  border-radius: 20px;
  border: 1px solid rgba(0, 15, 94, 0.52);
}

.work__icon {
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  background: var(--blue);
}

.work__icon::after {
  content: "</>";
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--yellow);
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  transform: rotateX(45deg);
}

.work-btn {
  display: flex;
  position: relative;
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--blue);
  cursor: pointer;
}

.work-btn:hover {
  opacity: 0.7;
}

.work-btn.active {
  opacity: 1;
}

.work-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 18px;
  min-height: 50px;
}

.work__subtitle {
  margin: 0;
  color: var(--blue);
  font-size: 24px;
  z-index: 1000;
}

.dropdown-list {
  min-height: 280px;
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 15, 94, 0.52);
  opacity: 0;
  background: var(--white);
}

.projects-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px;
  padding-top: 80px;
  border-radius: 20px;
  list-style: none;
}

.work-btn.active .work-span__btn {
  display: none;
}

.work-btn.active .work__subtitle {
  pointer-events: none;
}

.close__btn {
  transform: rotate(45deg);
  font-size: 30px;
  color: var(--blue);
  cursor: pointer;
}

.close__btn {
  display: none;
}

.work-btn.active .close__btn {
  display: initial;
}

.close__btn:hover {
  opacity: 0.7;
}

.work:hover {
  box-shadow: 0 0 20px rgba(0, 15, 94, 0.52);
}

.work-btn.active + .dropdown-list {
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.work-btn.active .close__btn {
  position: absolute;
  transform: rotate(0);
  top: 30px;
  right: 25px;
  z-index: 1000;
}

.projects-item {
  border-radius: 24px;
  font-weight: 500;
  font-size: 20px;
  color: var(--blue);
}

.projects__link {
  display: flex;
  justify-content: space-between;
}

.projects-item:not(:last-child) {
  margin-bottom: 10px;
}

.projects-item:hover {
  opacity: 0.5;
}

/* ========== Footer ========== */

.footer {
  background: var(--blue);
}

.footer-container {
  min-height: 100px;
}

.contact {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact__link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease-in-out;
}

.contact__link:not(:last-child) {
  margin-bottom: 20px;
}

.contact__link:hover {
  color: var(--white);
}

@media (max-width: 1200px) {
  .header {
    padding: 16px 32px;
  }

  .nav {
    width: 96%;
  }

  .hero-content {
    width: 60%;
  }

  .about_inner {
    padding: 0 32px;
  }

  .about-content {
    flex-direction: column;
  }

  .education,
  .experience {
    width: 98%;
    font-size: 18px;
  }

  .skills {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .work {
    width: 45%;
    margin-right: 16px;
    margin-bottom: 20px;
  }

  .works-inner {
    flex-wrap: wrap;
  }

  .dropdown-list {
    min-height: 240px;
  }

  .contact {
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }

  .nav__item {
    font-size: 20px;
  }

  .hero-inner {
    flex-direction: column;
  }

  .hero-img {
    margin-right: 0;
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
  }

  .hero__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .hero__text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contactme {
    margin-bottom: 60px;
  }

  .contactme__link {
    font-size: 18px;
  }

  .social__title {
    font-size: 22px;
  }

  .social-item:not(:last-child) {
    margin-right: 0;
  }

  .about-container {
    padding: 20px;
  }

  .about_content {
    display: flex;
    flex-direction: column;
  }

  .about__title {
    font-size: 30px;
  }

  .about__subtitle {
    font-size: 22px;
  }

  .about_text,
  .about_learn {
    width: 98%;
  }

  .education__text {
    font-size: 18px;
    line-height: 24px;
  }

  .skills__text {
    font-size: 18px;
  }

  .hobby__subtitle {
    font-size: 22px;
  }
  /* 
  .works-container {
    min-height: 870px;
  } */

  .dropdown-list {
    min-height: 200px;
  }

  .works__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .works-inner {
    flex-direction: column;
  }

  .work {
    width: 70%;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .header {
    min-height: 64px;
  }

  .nav {
    width: 100%;
  }

  .nav-list {
    justify-content: space-between;
  }

  .nav__item {
    font-size: 13px;
  }

  .hero-img {
    width: 280px;
    height: 280px;
  }

  .contactme {
    margin-bottom: 80px;
  }

  .contactme__link {
    font-size: 10px;
  }

  .hero__text {
    font-size: 14px;
  }

  .about-container {
    padding: 48px 20px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .social__title {
    font-size: 13px;
  }

  .social-item {
    font-size: 22px;
  }

  .hobby__subtitle {
    font-size: 20px;
  }

  .work {
    width: 98%;
  }

  .contact__link {
    font-size: 13px;
  }

  .work__subtitle {
    font-size: 16px;
  }

  .dropdown-list {
    min-height: 200px;
  }

  .projects-item {
    font-size: 14px;
  }
}
